<<!DOCTYPE html>
<html>
  <head>
    <% include ../tmpl/head %>
  </head>
  <body class="container">
    <header>
      <% include ../tmpl/header %>
    </header>
    <main>
      => Impl <=
    </main>
    <footer>
      <% include ../tmpl/footer %>
    </footer>
  </body>
</html>
