<p class="text-right text-muted">MIT Lisence</p>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
  $(".form-date").datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true,
    todayBtn: true,
    pickerPosition: 'bottom-left'
  });
</script>
